<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>お問い合わせ一覧画面</title>
</head>

<body>
	<td><a th:href="@{/user/{id}(id=*{id})}" class="btn btn-secondary">作成</a></td>
	<div class="container">
		<h1>お問い合わせ一覧</h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>名前</th>
					<th>メールアドレス</th>
					<th>電話番号</th>
					<th>郵便番号</th>
					<th>住所</th>
					<th>建物名</th>
					<th>お問い合わせ種別</th>
					<th>お問い合わせ内容</th>
					<th>更新日時</th>
					<th>作成日時</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="contact : ${contactList}" th:object="${contact}">
					<td th:text="*{id}"></td>
					<td th:text="*{lastName} + ' ' + *{firstName}"></td>
					<td th:text="*{email}"></td>
					<td th:text="*{phone}"></td>
					<td th:text="*{zipCode}"></td>
					<td th:text="*{address}"></td>
					<td th:text="*{buildingName}"></td>
					<td th:text="*{contactType}"></td>
					<td th:text="*{body}"></td>
					<td th:text="${#dates.format(contact.updateDate, 'yyyy/MM/dd')}"></td>
					<td th:text="${#dates.format(contact.createDate, 'yyyy/MM/dd)}"></td>
					<td><a th:href="@{/contacts/{id}/edit(id=*{id})}" class="btn btn-secondary">編集</a></td>
					<td><a th:href="@{/contacts/{id}/detail(id=*{id})}" class="btn btn-secondary">詳細</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>